*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}





.forhover li a{
   transition: all 0.5s;
   color: black;
   
   position: relative;
   
    
}

.forhover li a:hover{
    
       background-color: #272727;
        color: #fff;


        
}
.forcard h1{
    font-size: 10px;
}



.forcard h1{
    font-size: 20px;
}
.first{
    font-size: 20px;
} 



.activity{
    padding: 6px;
    /* background-color: cornflowerblue; */
    color: #fff;
}
.activity p{
    font-weight: 900    ;
    font-size: 20px;
    
}



