*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.forhover li a{
    transition: all 0.5s;
    color: black;
    
    position: relative;
    
     
 }
 
 .forhover li a:hover{
     
        background-color: #272727;
         color: #fff;
 
 
         
 }
   /* banner   */
  .contactforabtu1{
        position: relative;
  }
  .contactforabtu2{
    width: 100%;
    position: relative;
   
   
 }
 .contactforabtu2 img {
   
   
    width: 100%;
    height: 500px;
   
 }


 .contactforabtu3 h2{
    font-size: 100px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    top: 250px;
    left: 650px;
    transition: all 1s ;
 } 
 .contactforabtu3 p{
   font-size: 50px;
   font-weight: 700;
   color: #FFF;
   position: absolute;
   top: 390px;
   left: 380px;
   transition: all 1s ;
} 



.contactforabtu2::before{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        position: absolute;
        opacity: 0.8;

}







 @media  screen and (max-width : 800px) {

    .contactforabtu2 img{
        width: 100%;
        height: 250px;
    }
    .contactforabtu3 h2{
        font-size: 45px;
        top : 200px;
        left: 110px;
    }
    .contactforabtu3 p{
      font-size: 15px;
      top : 270px;
      left: 80px;
    }

 }


 .firstname{
   display: block;
   width: 100%;
   border: 0;
   padding: 13px;
   outline: 0;
   background-color: whitesmoke;
  
 }
 .lastname{
   display: block;
   width: 100%;
   border: 0;
   padding: 13px;
   background-color: whitesmoke;
   outline: 0;
  
 }
 .email{
   display: block;
   width: 100%;
   border: 0;
   outline: 0;
   padding: 13px;

   background-color: whitesmoke;
  
 }
 .company{
   display: block;
   width: 100%;
   border: 0;
   padding: 13px;
   background-color: whitesmoke;
   outline: 0;
  
 }
 .tellus{
   display: block;
   width: 100%;
   border: 0;
   padding: 13px;
   background-color: whitesmoke;
   outline: 0;
  
 }
 .submit{
   margin-top: 14px;
   display: block;
   width: 100%;
   border: 0;
   color: #fff;
   background-color: tomato;
   outline: 0;
   padding: 15px;
  
 }
 .formc label{
   opacity: 0.8;
   margin-top: 15px;
 }

 
.footer {
   margin-top: 70px;
   background-size: cover;
 
   background-image: linear-gradient(135deg, #29323c 10%, #485563 100%);
    
}



.first {
   margin-top: 40px;
   margin-bottom: 50px;
   color: #fff;
   font-family: 'Poppins', sans-serif;
}

   .first h4 {
       font-size: 20px;
       letter-spacing: 3px;
       position: relative;
       margin-bottom: 20px;
       font-size: 1.6em;
       color: #fff;
       padding-bottom: 0.5em;
   }

       .first h4::after {
           content: '';
           background: paleturquoise;
           width: 20%;
           height: 2px;
           position: absolute;
           bottom: 0;
           left: 0;
       }

   .first p {
       font-size: 14px;
   }

.second {
   margin-top: 40px;
   margin-bottom: 50px;
   color: #FFF;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}

.second2 {
   margin-top: 40px;
   margin-bottom: 50px;
   color: #FFF;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}

.second h4 {
   font-size: 20px;
   letter-spacing: 3px;
   position: relative;
   margin-bottom: 20px;
   font-size: 1.6em;
   color: #fff;
   padding-bottom: 0.5em;
}

   .second h4::after {
       content: '';
       background: paleturquoise;
       width: 20%;
       height: 2px;
       position: absolute;
       bottom: 0;
       left: 40%;
   }


.second li {
   list-style: none;
   padding-bottom: 30px;
}

.second a, .second2 a {
   color: #FFF;
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 14px;
   transition: 0.2s;
}

   .second a:hover, .second2 a:hover {
       color: #fff;
       transition: 0.2s;
       text-shadow: 1px 1px 20px rgba(0,0,0,1);
       text-decoration: none

   }



.third {
   margin-top: 40px;
   margin-bottom: 50px;
   color: #FFF;
   font-family: 'Poppins', sans-serif;
   text-align: right;
}


   .third h4 {
       font-size: 20px;
       letter-spacing: 3px;
       position: relative;
       margin-bottom: 20px;
       font-size: 1.6em;
       color: #fff;
       padding-bottom: 0.5em;
   }


       .third h4::after {
           content: '';
           background: paleturquoise;
           width: 20%;
           height: 2px;
           position: absolute;
           bottom: 0;
           left: 80%;
       }



   .third li {
       list-style: none;
       padding-bottom: 15px;
   }


   .third a {
       color: rgb(206, 206, 206);
       text-decoration: none;
       letter-spacing: 3px;
       font-weight: bold;
       font-size: 14px;
       transition: 0.2s;
   }


       .third a:hover {
           color: #fff;
           transition: 0.2s;
           text-shadow: 1px 1px 20px rgba(0,0,0,1);
       }


@media screen and (max-width:1000px) {
   .first {
       text-align: center;
   }

       .first h4::after {
           left: 40%;
       }
}

@media screen and (max-width:1000px) {
   .third {
       text-align: center;
   }

       .third h4::after {
           left: 40% !important;
       }
}

.margin {
   margin-left: 20px;
}

.line {
   height:2px;
   background-color:rgb(206,206,206);
   width:100%;
}

.container h1{
   text-align:center;
   margin-top:100px;
   margin-bottom:100px;
}


