*{
    box-sizing: border-box;
    padding: 0;
}


.forhover li a{
    transition: all 0.5s;
    color: black;
    
    position: relative;
    
     
 }
 
 .forhover li a:hover{
     
        background-color: #272727;
         color: #fff;
 
 
         
 }
 
 .carousel-item{
    position: relative;
 }


.carousel-item h1{
    font-size: 120px;
    font-weight: 700;
    color: tomato;
    position: absolute;
    top: 150px;
    left: 320px;
}
.carousel-item h3{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 350px;
    left: 700px;
}
@media screen and (max-width:800px){
    .carousel-item h1{
        top: 60px;
        left: 100px;
        font-size: 25px;
        
    }
    .carousel-item h3{
        top: 100px;
        left: 150px;
        font-size: 25px;
    }
}










  


.future{
    color: tomato;
    
} 

.maincontainer{
   
    padding: 100px;
    
    margin: auto;
    border: 5px solid tomato;
}

.maincontainer h2{
    background-color: #29323c;
    color: #FFF;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
    border: 2px solid cadetblue;


}
.maincontainer p{
    font-size: 20px;

}


@media screen and (max-width:800px) {

        .maincontainer{
            padding: 0;
            width: 100%;
        }
        .maincontainer h2{
            font-size: 25px;
            background-color: #FFF;
            border: 0;
            color: #272727;
        }
        .maincontainer p{
            font-size: 15px;
        }

}

.footer {
        margin-top: 60px;
    background-size: cover;
  
    background-image: linear-gradient(135deg, #29323c 10%, #485563 100%);
     
}
 
 
 
.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
 
    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
 
        .first h4::after {
            content: '';
            background: paleturquoise;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
 
    .first p {
        font-size: 14px;
    }
 
.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
 
.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
 
.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}
 
    .second h4::after {
        content: '';
        background: paleturquoise;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
 
 
.second li {
    list-style: none;
    padding-bottom: 30px;
}
 
.second a, .second2 a {
    color: #FFF;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}
 
    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none
 
    }
 
 
 
.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}
 
 
    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }
 
 
        .third h4::after {
            content: '';
            background: paleturquoise;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }
 
 
 
    .third li {
        list-style: none;
        padding-bottom: 15px;
    }
 
 
    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }
 
 
        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }
 
 
@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }
 
        .first h4::after {
            left: 40%;
        }
}
 
@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }
 
        .third h4::after {
            left: 40% !important;
        }
}
 
.margin {
    margin-left: 20px;
}
 
.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}
 
.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}


